/**
 * All of the CSS for plugin admin functionality should be included in this file.
 */

/* Change width of the Exclude Patterns textarea */
textarea[name="smarty_exclude_patterns"].large-text {
    width: 50% !important;
}

/* Fix width of Select2 field */
.select2.select2-container.select2-container--default {
	width: 50% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px !important;
    border: 1px solid #AAA;
    border-radius: 4px;
    background-color: #E4E4E4;
    cursor: default;
}

.dashicons, .dashicons-before:before {
    font-size: 17px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #0073aa;
    vertical-align: middle;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the tooltip icon */
    left: 50%;
    margin-left: -160px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Helper classes */
.smarty-error {
    background: #fff0f4 !important;
    color: #c51244 !important;
}

.user-friendly-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-friendly-table th,
.user-friendly-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.user-friendly-table th {
    background-color: #f4f4f4;
    text-align: left;
}

.user-friendly-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-friendly-table tr:hover {
    background-color: #f1f1f1;
}

.smarty-google-category-select {
    width: 100%;
}

.custom-label-logic {
    width: 100%;
}

.custom-label-logic + .regular-text {
    width: 100%;
}