/**
 * All of the CSS for plugin admin functionality should be included in this file.
 */

/* Change width of the Exclude Patterns textarea */

textarea[name="smarty_google_exclude_patterns"].large-text,
textarea[name="smarty_bing_exclude_patterns"].large-text {
    width: 50% !important;
}

/* Select2 */

.select2.select2-container.select2-container--default {
	width: 50% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px !important;
    border: 1px solid #AAA;
    border-radius: 4px;
    background-color: #E4E4E4;
    cursor: default;
}

.smarty-google-category-select {
    width: 100%;
}

/* Tables */

.user-friendly-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-friendly-table th,
.user-friendly-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.user-friendly-table th {
    background-color: #E4E4E4;
    text-align: left;
}

.user-friendly-table tr {
    background-color: #f4f4f4;
}

/* Custom Labels */

.custom-label-logic {
    width: 100%;
}

.custom-label-logic + .regular-text {
    width: 100%;
}

/* Tooltips */

.dashicons, .dashicons-before:before {
    font-size: 18px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #0073aa;
    vertical-align: middle;
    margin-right: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the tooltip icon */
    left: 50%;
    margin-left: -160px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin: 0 5px 0 -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Buttons */

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .85rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
}

.btn-success {
    display: inline-block;
    margin: 20px 5px;
    background: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn.disabled, .btn:disabled {
    opacity: .65;
    cursor: not-allowed;
}

/* The switch - the box around the slider */

.smarty-toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */

.smarty-toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.smarty-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.smarty-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .smarty-slider {
    background-color: #2196F3;
}

input:checked + .smarty-slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */

.smarty-slider.round {
    border-radius: 34px;
}

.smarty-slider.round:before {
    border-radius: 50%;
}

/* Helpers */

.smarty-error {
    background: #fff0f4 !important;
    color: #c51244 !important;
}

.smarty-text-danger  {
    color: #c51244;
}