/**
 * All of the CSS for plugin admin functionality should be included in this file.
 */

/* Change width of the Exclude Patterns textarea */
textarea[name="smarty_exclude_patterns"].large-text {
    width: 50% !important;
}

/* Fix width of Select2 field */
.select2.select2-container.select2-container--default {
	width: 50% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px !important;
    border: 1px solid #AAA;
    border-radius: 4px;
    background-color: #E4E4E4;
    cursor: default;
}

.form-table,
 .flex-container { 
     border-bottom: 1px solid #ccc;
     margin-bottom: 30px;
 }
 
  .flex-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
 }
 
 .flex-item {
     flex-basis: 30%;
     text-align: left;
 }
 
 .flex-item strong {
     display: block;
     margin-bottom: 5px;
     color: #333;
 }
 
 .smarty-compatibility-status.smarty-compatibility-yes {
     background: #E6F8B2;
     color: #333;
     padding: 2px 5px;
     border-radius: 5px;
     border: 1px solid #b8c68e;
 }
 
 .smarty-compatibility-status.smarty-compatibility-no {
     background: #F4CCCC;
     color: #333;
     padding: 2px 5px;
     border-radius: 5px;
     border: 1px solid #c3a3a3;
 }
 
 .form-table td p.description.smarty-error {
     padding: 2px 5px;
 }
 
 /* Helper classes */
 .smarty-error {
     background: #fff0f4 !important;
     color: #c51244 !important;
 }